Source: netspeed
Section: utils
Priority: optional
Maintainer: xmuli tech <xmulitech@gmail.com>
Build-Depends:
 debhelper (>= 11),
 cmake,
Standards-Version: 4.1.3
Homepage: https://github.com/xmuli/NetSpeed

Package: netspeed
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: NetSpeed is the network speed hover window (Linux universal).
  NetSpeed is the NetSpeed hover window (Linux) and NetPlugins is the NetSpeed plugin for dde-dock(only DDE).

